
<div class="category">
    <p>Browse by category</p>
    <div class="category-items">
        <div class="category-item">
            <a href="/products?category=1">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQA0WNFt8kST97mJeSQcEZxlqUy9oBcHUB5jwY7az4bDw&s" alt="category-1">
            </a>
        </div>
        <div class="category-item">
            <a href="/products?category=1">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQA0WNFt8kST97mJeSQcEZxlqUy9oBcHUB5jwY7az4bDw&s" alt="category-1">
            </a>
        </div>
        <div class="category-item">
            <a href="/products?category=1">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQA0WNFt8kST97mJeSQcEZxlqUy9oBcHUB5jwY7az4bDw&s" alt="category-1">
            </a>
        </div>
        <div class="category-item">
            <a href="/products?category=1">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQA0WNFt8kST97mJeSQcEZxlqUy9oBcHUB5jwY7az4bDw&s" alt="category-1">
            </a>
        </div>
        <div class="category-item">
            <a href="/products?category=1">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQA0WNFt8kST97mJeSQcEZxlqUy9oBcHUB5jwY7az4bDw&s" alt="category-1">
            </a>
        </div>
        <div class="category-item">
            <a href="/products?category=1">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQA0WNFt8kST97mJeSQcEZxlqUy9oBcHUB5jwY7az4bDw&s" alt="category-1">
            </a>
        </div>
      
    </div>
</div>